<h3 style="margin: 1rem;" id="block">Регионы - участники проекта</h3>
{{#if partners.length}}
<div class="container">
    <div class="row">
        {{#each partners}}
        <div class="col-sm-3 col-md-3 pb-2 mb-2">
            <div class="card card-partner" id="{{ _id }}">
                <img class="card-img-top" src="data:image/{{ img.contentType }};base64, {{ img.dataStr }}" onerror="this.src = 'images/default.png'; this.onerror = null;"> 
                <div class="card-body">
                    <h4 class="card-title">{{ title }}</h4>
                    <p class="card-text">{{ description }}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div> 
</div>
{{/if}}