<h4 style="margin: 1rem;">Список всех партнёров</h4>

{{#if partners.length}}
<form id="showing_partners">
<table class="table table-sm table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Картинка</th>
            <th scope="col">Описание</th>
            <th scope="col">-</th>
        </tr>
    </thead>
    <tbody>
        {{#each partners}}
        <tr>
            <td><input type="checkbox" value="{{_id}}" name="checked"></td>
            <td>{{ title }}</td>
            <td><img class="card-img-top" style="max-width: 20%;" src="data:image/{{ img.contentType }};base64, {{ img.dataStr }}" onerror="this.src = 'images/default.png'; this.onerror = null;"> </td>
            <td>{{ description }}</td>
            <td><button type="button" class="btn btn-outline-dark btn-edit-partner" id="edit_partner_{{@index}}" data-toggle="modal" data-target="#editPartnerModal" value="{{_id}}">Изменить</button></td>
        
            <input type="hidden" value="{{_id}}" name="id">
        </tr>
        {{/each}}
    </tbody>
</table>
<button type="button" class="btn btn-outline-dark" id="create_partner" data-toggle="modal" data-target="#createPartnerModal">Создать</button>
<button type="reset" class="btn btn-outline-dark" id="delete_partners">Удалить</button>
</form>
{{else}}
<p>[ БД пуста ]</p>
<button type="button" class="btn btn-outline-dark" id="create_partner" data-toggle="modal" data-target="#createPartnerModal">Создать</button>
{{/if}}
<!-- Modals -->
<!-- Создание партнёра -->
<div class="modal fade" id="createPartnerModal" tabindex="-1" role="dialog" aria-labelledby="createPartnerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPartnerModalLabel">Создание партнёра</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/partner_create" method="POST" id="creatingPartner" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="nameOfPartner">Регион</label>
                        <select class="selectpicker" id="nameOfPartner" data-live-search="true" data-actions-box="true" name="title" required>
                            {{#each dataRegs}}
                            <option value="{{ iso3166 }}:{{ title }}">{{ title }}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="imageUpload">Загрузить фото</label>
                        <input type="file" class="form-control-file" id="imageUpload" name="image">
                    </div>
                    <div class="form-group">
                        <label for="descriptionPartner">Описание</label>
                        <input type="text" class="form-control" id="descriptionPartner" name="description">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="creatingPartner">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<!-- Изменение партнёра -->
<div class="modal fade" id="editPartnerModal" tabindex="-1" role="dialog" aria-labelledby="editPartnerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPartnerModalLabel">Редактирование партнёра</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="descriptionEdit">Описание</label>
                    <input type="text" class="form-control" id="descriptionEdit" aria-describedby="editDescriptionHelp">
                    <small id="editDescriptionHelp" class="form-text text-muted">Оставьте поле пустым, если хотите оставить прежнее описание.</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveEditedInfo">Сохранить</button>
            </div>
        </div>
    </div>
</div>



<script src="/js/jquery-3.5.1.js"></script>
<script>
    // Удаление выбранных элементов "Партнёры"
    $('#delete_partners').click(async function() {
        let data = $('#showing_partners').serialize();
        try {
            const response = await fetch('/partner_delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: data
            });
            const status = await response.ok;
            window.location.reload(false);
            return;
        } catch (error) {
            console.error('error: ', error);
        }
    });
</script>
